.loader__text {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.border__text {
    display: block;
    height: 3px;
    background-color: $dark-green;
    border-radius: 5px;
}