//font

$font-main:"Montserrat", sans-serif;
$logo-font: "Oswald", sans-serif;

//color

$white: #fff;
$dark: #000;
$dark-green: #026742;
$light-green: #B9CDC6;
$dark-gray: #4A4A4A;
$medium-dark: #494949;