/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
  background-image: url(./../img/main-bg.png);
  display: none;
}
@media screen and (max-width: 768px) {
  body {
    display: block;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.header {
  padding: 20px 0 24px 0;
  position: relative;
  overflow: hidden;
}

.header__wrraper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2, 103, 66, 0.2);
  padding: 10px 16px 10px 24px;
  border-radius: 4px;
}

.order__sevices {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background-color: #026742;
  display: block;
  width: 76px;
  padding: 8px 10px;
  border-radius: 3px;
  text-align: center;
  transition: opacity 0.3s ease-in;
}
.order__sevices:hover {
  opacity: 0.75;
}

.hero-services {
  padding-bottom: 72px;
}

.hero__service-top {
  margin-bottom: 20px;
}

.service__title {
  font-size: 30px;
  font-weight: 800;
  color: #026742;
}

.subtitle__services {
  display: inline-block;
  font-size: 20px;
}

.hero__text {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 26px;
}
.hero__text span {
  font-weight: 700;
}

.hero__order-service {
  font-weight: 700;
  color: #fff;
  background-color: #026742;
  display: block;
  width: 169px;
  padding: 10px 5px;
  border-radius: 3px;
  margin: 0 auto;
  transition: opacity 0.3s ease-in;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.hero__order-service:hover {
  opacity: 0.75;
}

.loader__text {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.border__text {
  display: block;
  height: 3px;
  background-color: #026742;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */